* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-style: normal;
}
body{
    background: #F9FAFF;
}
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}